.container {
  margin: 0 auto;
  width: 90%;
}

table {
  width: 100%;
  min-width: 768px;
}

.mat-row:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.mat-row:nth-child(odd) {
  background-color: rgba(233, 233, 233);
}

.text-center {
  text-align: center;
}
